In [2]:
# Import Libraries
import pandas as pd
import requests
import json
import csv

In [3]:
df_0 = pd.read_csv('Instagram Dataset - 2014.csv')
df_1 = pd.read_csv('Instagram Dataset - 2015.csv')
df_2 = pd.read_csv('Instagram Dataset - 2016.csv')
df_3 = pd.read_csv('Instagram Dataset - 2017.csv')
df_4 = pd.read_csv('Instagram Dataset - 2018.csv')
df_5 = pd.read_csv('Instagram Dataset - 2019.csv')
df_6 = pd.read_csv('Instagram Dataset - 2020.csv')
df_7 = pd.read_csv('Instagram Dataset - 2021.csv')
df_8 = pd.read_csv('Instagram Dataset - 2022.csv')
df_9 = pd.read_csv('Instagram Dataset - 2023.csv')
df_10 = pd.read_csv('Instagram Dataset - 2024.csv')

In [4]:
df_result = pd.concat([df_0, df_1, df_2, df_3, df_4, df_5, df_6, df_7,df_8,df_9,df_10], ignore_index=True)
print(len(df_result))
df_result.head()

1368

      User Name   Year
0      instagram  2014
1   justinbieber  2014
2  kimkardashian  2014
3        beyonce  2014
4     badgalriri  2014

In [5]:
df_result.to_csv('Instagram Dataset - All_Years.csv')

In [9]:
grouped = df_result.groupby('User Name ')['Year'].agg(list)

In [11]:
grouped.head()

User Name
#NBATogether                   [2020]
#NBATogether Shai & Nickeil    [2020]
#Stron9er?????????             [2020]
#TeamOfTheYear                 [2018]
#WholeNewGame                  [2020]
Name: Year, dtype: object

In [12]:
grouped.to_csv('agg_by_user.csv')